BODY {
	color: #000000;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	font-size: 10pt;
	font-family: Arial, sans-serif;
}

.content-area {
	background-color: #ffffff;
}

.header {
	background-color: #003366;
}

.nav_head {
	background-color: #006699;
}

.nav_top {
	background-color: #6699cc;
}

.nav_top2 {
	background-color: #ffffff;
}

.nav_top3 {
	background-color: #ffffff;
}

.nav_side {
	background-color: #eeeeee;
}

.footer {
	background-color: #003366;
}

.side {
	background-color: #eeeeee;
}

.nav {
	background-color: #eeeeee;
}

.nav_footer {
	background-color: #eeeeee;
}

A:link {
	color: #0033cc;
	text-decoration: none;
}

A:hover {
	color: #0033cc;
	text-decoration: underline;
}

A:visited {
	color: #9933cc;
	text-decoration: none;
}

h1 {
	font-weight: normal;
	font-size: 35px
}

h2 {
	font-weight: normal;
	font-size: 25px
}

h3 {
	font-weight: normal;
	font-size: 22px
}

h4 {
	font-weight: normal;
	font-size: 18px
}

hr {
	color: #000066;
}

.nav-h-normal {
	padding-left: 8px;
	padding-right: 8px;
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
	background-color: #006699;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: #eeeeee #000000 #000000 #eeeeee;
}

.nav-h-normal A:link {
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
	background-color: #006699;
}

.nav-h-normal A:visited {
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
	background-color: #006699;
}

.nav-h-normal A:hover {
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: underline;
	background-color: #006699;
}

.nav-h-highlighted {
	padding-left: 8px;
	padding-right: 8px;
	color: #000066;
	font-size: 9pt;
	font-weight: bold;
	background-color: #eeeeee;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: #000000 #eeeeee #eeeeee #000000;
}

.nav-h-highlighted A:link {
	color: #000066;
	font-size: 9pt;
	font-weight: bold;
	background-color: #eeeeee;
}

.nav-h-highlighted A:visited {
	color: #000066;
	font-size: 9pt;
	font-weight: bold;
	background-color: #eeeeee;
}

.nav-h-highlighted A:hover {
	color: #000066;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: underline;
	background-color: #eeeeee;
}

.nav-t-normal {
	padding-left: 8px;
	padding-right: 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #6699cc;
	border-style: solid solid solid solid;
	border-width: 3px 1px 3px 1px;
	border-color: #6699cc #6699cc #6699cc #6699cc;
}

.nav-t-normal A:link {
	color: #000000;
	font-size: 9pt;
	background-color: #6699cc;
}

.nav-t-normal A:visited {
	color: #000000;
	font-size: 9pt;
	background-color: #6699cc;
}

.nav-t-normal A:hover {
	color: #000066;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #6699cc;
}

.nav-t-highlighted {
	padding-left: 8px;
	padding-right: 8px;
	color: #000066;
	font-size: 9pt;
	background-color: #ffffff;
	border-style: solid solid solid solid;
	border-width: 3px 0px 3px 0px;
	border-color: #6699cc #6699cc #ffffff #6699cc;
}

.nav-t-highlighted A:link {
	color: #000066;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t-highlighted A:visited {
	color: #000066;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t-highlighted A:hover {
	color: #000066;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}

.nav-t2-normal {
	padding-left: 8px;
	padding-right: 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ffffff #ffffff #999999 #ffffff;
}

.nav-t2-normal A:link {
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t2-normal A:visited {
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t2-normal A:hover {
	color: #999900;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}

.nav-t2-highlighted {
	padding-left: 8px;
	padding-right: 8px;
	color: #999900;
	font-size: 9pt;
	font-weight: bold;
	background-color: #eeeeee;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #999999 #999999 #eeeeee #999999;
}

.nav-t2-highlighted A:link {
	color: #999900;
	font-size: 9pt;
	background-color: #eeeeee;
}

.nav-t2-highlighted A:visited {
	color: #999900;
	font-size: 9pt;
	background-color: #eeeeee;
}

.nav-t2-highlighted A:hover {
	color: #999900;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #eeeeee;
}

.nav-t3-normal {
	padding-left: 8px;
	padding-right: 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ffffff #ffffff #ffffff #999999;
}

.nav-t3-normal A:link {
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t3-normal A:visited {
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t3-normal A:hover {
	color: #000066;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}

.nav-t3-highlighted {
	padding-left: 8px;
	padding-right: 8px;
	color: #000066;
	font-size: 9pt;
	font-weight: bold;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ffffff #ffffff #ffffff #999999;
}

.nav-t3-highlighted A:link {
	color: #000066;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t3-highlighted A:visited {
	color: #000066;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t3-highlighted A:hover {
	color: #000066;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}

.nav-s-normal {
	padding-left: 8px;
	padding-right: 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: #eeeeee #eeeeee #eeeeee #eeeeee;
}

.nav-s-normal A:link {
	color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
}

.nav-s-normal A:visited {
	color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
}

.nav-s-normal A:hover {
	color: #000000;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #eeeeee;
}

.nav-s-highlighted {
	padding-left: 8px;
	padding-right: 8px;
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ffffff #ffffff #ffffff #ffffff;
}

.nav-s-highlighted A:link {
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-s-highlighted A:visited {
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-s-highlighted A:hover {
	color: #000000;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}

.nav-f-normal {
	padding-left: 8px;
	padding-right: 8px;
	color: #ffffff;
	font-size: 9pt;
	background-color: #333366;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: #333366 #333366 #333366 #333366;
}

.nav-f-normal A:link {
	color: #ffffff;
	font-size: 9pt;
	background-color: #333366;
}

.nav-f-normal A:visited {
	color: #ffffff;
	font-size: 9pt;
	background-color: #333366;
}

.nav-f-normal A:hover {
	color: #ffff00;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #333366;
}

.nav-f-highlighted {
	padding-left: 8px;
	padding-right: 8px;
	color: #ffff00;
	font-size: 9pt;
	background-color: #333366;
	border-style: solid;
	border-width: 1px;
	border-color: #333366;
}

.nav-f-highlighted A:link {
	color: #ffff00;
	font-size: 9pt;
	background-color: #333366;
}

.nav-f-highlighted A:visited {
	color: #ffff00;
	font-size: 9pt;
	background-color: #333366;
}

.nav-f-highlighted A:hover {
	color: #ffff00;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #333366;
}