body {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

table, td, th, h1, span, div {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

a {
	color: #022275;
}


img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}



.but a{
	cursor: pointer;
}

.textinput {
	background: #FFFFFF;
	border-bottom: 1px solid #A5ACB2;
	border-left: 1px solid #A5ACB2;
	border-right: 1px solid #A5ACB2;
	border-top: 1px solid #A5ACB2;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.selectinputmedium {
	background: #FFFFFF;
	border-bottom: 1px solid #A5ACB2;
	border-left: 1px solid #A5ACB2;
	border-right: 1px solid #A5ACB2;
	border-top: 1px solid #A5ACB2;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	width: 305px;
}

.textinputmedium {
	background: #FFFFFF;
	border-bottom: 1px solid #A5ACB2;
	border-left: 1px solid #A5ACB2;
	border-right: 1px solid #A5ACB2;
	border-top: 1px solid #A5ACB2;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	width: 300px;
}

.textareainputmedium {
	background: #FFFFFF;
	border-bottom: 1px solid #A5ACB2;
	border-left: 1px solid #A5ACB2;
	border-right: 1px solid #A5ACB2;
	border-top: 1px solid #A5ACB2;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	width: 300px;
	height: 80px;
}

.inputbutton {
	background-color: transparent;
	background-image: url(../images/button_bk.gif);
	background-repeat: no-repeat;
	border: none;
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 900;
	width: 100px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}
.inputbutton2 {

	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FONT-WEIGHT: 900; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/button_bk2.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 45px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: transparent
}
.inputbutton3 {


	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FONT-WEIGHT: 900; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/button_bk3.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 170px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: transparent
}
.footerlinks{
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.footerlinks a{
	color: #000099;
}

.headline{
	font-size: 11px;
	font-weight: bold;
}

/* PAGINATION */
.pgsel { 
	color: #790141; 
	font-weight: bold;
}

/* NAVIGATORS */
.navhdl { padding: 0px 0px 0px 5px; font-weight: 900; }
.navsrc { padding: 0px 0px 0px 5px; }
.navsrc a { color: #6197d1; }
.navrem a { color: #6197d1; }
.navsel { width:210px;}

/* RESULTS */
.restit, .restit a { color: #022275; font-size: 14px; }
.reslnk { font-size: 13px; color: #609130; }
.ressum { color: #000000; }

/* SPONSORED RESULTS */
.sporestit, .sporestit a { color: #022275; }
.sporessum {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
.sporeslnk { color: #609130; }

.cnt{
	margin: 0px;
	padding: 17px;
}

.npdcnt{
	margin: 0px;
	padding: 0px;
}

.nav{
	line-height: 18px;
	margin: 0px 0px 0px 0px;
	padding: 17px;
	color: #022275;
}

.nav a{
}

/* LIGHT TITLES */

.lghtit { font-size: 12px; color: #999999; }
