BODY {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: verdana;
}

.HomeBody {
	background-repeat: repeat-x;
	text-align: center;
}

.MainTable {
	height: 100%;
}

.TopTable {
	height: 100px;
	background-color: #ffffff;
}

.MenuTable {
	height: 22px;
	background-image: url(../images/Menu_BG.gif);
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: verdana;
}

.MenuTable2 {
	height: 2px;
	background-image: url(../images/Menu_BG.gif);
}

.ContentTable {
	height: 100%;
	background-color: #ffffff;
}

.Disclaimer {
	height: 34px;
	background-color: #ffffff;
}

.TopTableContent {
	height: 88px;
	width: 100%;
}

.TopTableLeft {
	height: 88px;
	width: 100%;
}

.TopTableRight {
	height: 96px;
	width: 486px;
}

.MainContentTable {
	height: 100%;
	background-color: #ffffff;
}

.MainContentTD {
	height: 100%;
	background-color: #ffffff;
}

.MainContentTable_02 {
	height: 100%;
	background-color: #ffffff;
}

.MainContentTD_02 {
	height: 100%;
	background-color: #ffffff;
}

.LeftBorder {
	width: 1px;
	background-image: url(../images/Border.gif);
	background-repeat: repeat-y;
}

.RightBorder {
	width: 1px;
	background-image: url(../images/Border.gif);
	background-repeat: repeat-y;
}

.Content TD {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: verdana;
}

.ContentFrame {
	
}

A {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	text-decoration: underline;
	border-color: #000000;
}

A:hover {
	FONT-SIZE: 8pt;
	COLOR: #999999;
	FONT-FAMILY: verdana;
	text-decoration: underline;
	border-color: #000000;
}

img {
	border: none;
}

img A {
	border: none;
}

.Nav A {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	text-decoration: none;
}

.Nav A:hover {
	FONT-SIZE: 8pt;
	COLOR: #999999;
	FONT-FAMILY: verdana;
	text-decoration: underline;
}

.errorMessage {
	font-size: 8pt;
	font-weight: bold;
	color: #FF0000;
}

ul.sidenavi {
	list-style: none;
	background-color: #E8E9E2;
	border-bottom: 3px solid #BABAB5;
	margin: 0px;
}

ul.sidenavi li a {
	border-bottom: 1px solid #BABAB5;
	display: block;
	padding: 3px 0px 3px 10px;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	vertical-align: top;
	text-decoration: none;
}

ul.sidenavi li a:hover {
	background-color: #FFF2ED;
	display: block;
	padding: 3px 0px 3px 10px;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	vertical-align: top;
	text-decoration: none;
}

ul.sidenavi li b {
	background-color: #D0D1CE;
	border-top: 2px solid #BABAB5;
	padding: 3px 0px 3px 5px;
	FONT-SIZE: 10pt;
	font-weight: bolder;;
	background-color: #D0D1CE;
	width: 100%;
}