.Whiteword15thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.Gerrnwordunderlinebold12thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #669900;
	text-decoration: underline;
}

.Whitewordunderlinebold12thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

.Bluewordbold12thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #022275;
	text-decoration: none;
}
.Redwordbold12thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: red;
	text-decoration: none;
}
.Bluewordbold15thsize {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	color: #022275;
	text-decoration: none;
}
.Underline12thsize{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;

}


.Whitewordbold12thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.Greenword12thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #669900;
	text-decoration: none;
	line-height: 20px;
}

.Whiteword12thsize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

.yellowword15thsize{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #e2ba70;
	text-decoration: none;
}

